*{
    box-sizing: border-box;
}

.body-home{
    background-image: url(/recipes/homebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


#hometitle{
    text-align: center;
    font-family: "Sour Gummy", "Times New Roman", sans-serif;
    font-size: 50px;
    color: rgb(51, 170, 134);
}

.reclist {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align:center;
    background-color: rgb(187, 255, 155);
    color: orange;
    font-weight: bold;
    width: 400px;
    padding: 20px;
    border-left: 3px solid rgb(0, 199, 0);
    margin: auto;
}

a{
    color: rgb(255, 160, 82);
    text-decoration: none;
}

a:hover{
    color: rgb(78, 209, 176);
}

/* brownies */
.brownie-page{
    background-color: rgb(231, 213, 111);
}

.brownie-pic{
    height: auto;
    width: 450px;
  
}

.title-brownies{
    font-size: 40px;
}

.yummy{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    background-color: rgb(192, 240, 192);
}

.desc-brownies,
.cookie-desc,
.cupc-desc
{
    font-size: 20px;
}

.title-ingbrownies,
.steps-brownies,
.cookie-inglist
{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ing-brownies,
.make-brownies,
.make-cookie,
.cookie-ing
{
    color: rgb(0, 0, 0);
    background-color: rgb(192, 240, 192);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif
}

/* cookies */
.cookie-body{
    background-color: rgb(238, 144, 210);
}

.cookie-page{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    background-color: rgb(199, 125, 55);
    color: rgb(255, 255, 255);
    text-align: center;
}

.cookie-pic{
    width: 510px;
    height: auto;
}

.cookie-title{
    background-color: rgb(255, 221, 148);
    text-align: center;
}

/* cupcakes */

.cupc-body{
    background-color: rgb(186, 255, 252);
}
.cupc-page{
    background-color: rgb(223, 145, 157);
    color: rgb(247, 247, 247);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.cupc-pic{
    height: auto;
    width: 400px;
}

.cupc-title{
    background-color: rgb(196, 121, 196);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

.cupc-ing,
.cupc-steplist
{
    font-size: 20px;
}

.cupc-inglist,
.cupc-steps{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgb(252, 154, 255);
}